# Archiwa ==================================================================
*.7z
*.zip
*.tar.gz
*.tar.bz2
*.tar

# Pliki tymczasowe =========================================================
*.bkp
# vim
*.swp
# emacs
*~
\#*
.\#*
# C/C++ *.o files
*.o
# Common Lisp files
*.fasl
# Python files
*.pyc
# MASM
*.exe
*.obj

# Ustawienia IDE ===========================================================
# Eclipse
.classpath
.project
.settings
.metadata
Servers
bin
target
*.jar
*.u1conflict
*.class
*.MF
*.mf

# SpringSource Tool Suite
.springBeans
# Netbeans
build
dist
private

# Rails3 
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

