# Archiwa ==================================================================
*.7z
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.tgz

# Pliki tymczasowe =========================================================
*.bkp
*.log
*.in
*.out
*.tmp
# vim
*.swp
*.swo
# emacs
*~
\#*
.\#*
# C/C++
*.o
core.*
*.a
*.so
# Common Lisp files
*.fasl
*.lx32fsl
# Python files
*.pyc
# MASM
*.exe
*.obj
# Erlang
*.beam

# Ustawienia IDE ===========================================================
# Eclipse
.classpath
.project
.pydevproject
.cproject
.settings
.metadata
Servers
bin
target
*.jar
*.u1conflict
*.class
*.MF
*.mf

# SpringSource Tool Suite
.springBeans
# Netbeans
build
dist
private

# Rails3 
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

# Qt Creator
*.config
*.creator
*.files
*.includes
*.creator.user

