policy_module(boa, 1.0.0)

########################################
#
# Declarations
#
########################################

type boa_t;
type boa_exec_t;
init_daemon_domain(boa_t, boa_exec_t)

permissive boa_t;

type boa_initrc_exec_t;
init_script_file(boa_initrc_exec_t)

type boa_etc_t;
files_config_file(boa_etc_t)

type boa_log_t;
logging_log_file(boa_log_t)

type boa_sys_content_t;
files_type(boa_sys_content_t);

type boa_sys_script_exec_t;
files_type(boa_sys_script_exec_t);

require {
	type http_port_t;
	type net_conf_t;
	type node_t;
	type usr_t;
}

########################################
#
# boa local policy
#
########################################

allow boa_t self:fifo_file rw_fifo_file_perms;
allow boa_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(boa_t, boa_log_t, boa_log_t)
manage_files_pattern(boa_t, boa_log_t, boa_log_t)
logging_log_filetrans(boa_t, boa_log_t, { dir file })

domain_use_interactive_fds(boa_t)

read_files_pattern(boa_t, boa_etc_t, boa_etc_t)
files_read_etc_files(boa_t)

# logs
allow boa_t boa_log_t:dir setattr;
create_files_pattern(boa_t, boa_log_t, boa_log_t)
append_files_pattern(boa_t, boa_log_t, boa_log_t)
read_files_pattern(boa_t, boa_log_t, boa_log_t)

read_files_pattern(boa_t, boa_sys_content_t, boa_sys_content_t)


allow boa_t boa_sys_content_t:dir read;
allow boa_t boa_sys_content_t:lnk_file read;

read_files_pattern(boa_t, boa_sys_script_exec_t, boa_sys_script_exec_t)
exec_files_pattern(boa_t, boa_sys_script_exec_t, boa_sys_script_exec_t)

corenet_tcp_bind_http_port(boa_t)
corenet_tcp_sendrecv_http_port(boa_t)

kernel_read_kernel_sysctls(boa_t)


#allow boa_t http_port_t:tcp_socket name_bind;
allow boa_t net_conf_t:file { read getattr open };
allow boa_t node_t:tcp_socket node_bind;
allow boa_t self:capability { setuid net_bind_service setgid };
allow boa_t self:tcp_socket { getattr setopt getopt bind create accept listen };
allow boa_t usr_t:file { read getattr open };

miscfiles_read_localization(boa_t)
